# Intro to Pandas
by Ryan Orsinger

## Module 2: Introducing DataFrames

### Pandas DataFrames Basics - Part 1
- How to make pandas DataFrames from other Python collections
- Learning about your dataframe's properties and information
- Selecting a single column
- Adding new columns to a DataFrame
- Renaming columns
- Descriptive stats on the columns

In [ ]:
import pandas as pd

In [ ]:
# Creating a dataframe from a list of dictionaries
basket = [
    {"item": "mango", "quantity": 4, "price": 2.99},
    {"item": "bread", "quantity": 2, "price": 3.25},
    {"item": "juice", "quantity": 1, "price": 5.90},
    {"item": "orange", "quantity": 3, "price": 2.99},
    {"item": "lime", "quantity": 3, "price": 0.3},
]
basket

In [ ]:
# With dataframes, our columns are our variables or features
# Each row represents a unique observation (usually)
df = pd.DataFrame(basket)
df

In [ ]:
# Creating a dataframe from a dictionary of lists
basket = {
    "item": ["mango", "bread", "juice", "orange", "lime"],
    "quantity": [4, 2, 1, 3, 3],
    "price": [2.99, 3.25, 5.90, 2.99, 0.30]
}
basket

In [ ]:
pd.DataFrame(basket)

In [ ]:
# Creating a dataframe from a list of lists
example = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

column_names = ["variable_a", "variable_b", "variable_c"]
row_names = ["observation_1", "observation_2", "observation_3"]

pd.DataFrame(example, columns=column_names, index=row_names)

In [ ]:
# Creating an empty dataframe
df = pd.DataFrame()

# Adding columns to a dataframe
# Any list-like data type can become a column
df["item"] = pd.Series(["Mango", "Bread", "Juice", "Orange", "Lime"])
df["quantity"] = [2, 2, 1, 3, 3]
df["price"] = (2.99, 3.25, 5.90, 2.99, 0.30)
df

In [ ]:
# .shape returns rows, columns
df.shape

In [ ]:
# Returns the rows
df.shape[0]

In [ ]:
# Returns the number of columns
df.shape[1]

In [ ]:
# len returns number of rows
len(df)

In [ ]:
# size returns rows * columns
df.size

In [ ]:
# Adding new columns to the dataframe
df["subtotal"] = df["quantity"] * df["price"]
df

In [ ]:
# set_index can overwrite the default index
df.set_index("item", inplace=True)
df

In [ ]:
# Accessing the index values
df.index

In [ ]:
# We can also overwrite the index with a Series of equal length
df.index = df.index.str.lower()
df

In [ ]:
# Accessing all the columns
df.columns

In [ ]:
# Another example of creating a new column
df["tax"] = 0.07
df

In [ ]:
# The "total cost" column does not exist, but this bracket syntax creates it.
df["total cost"] = df["subtotal"] + (df["subtotal"] * df["tax"])
df

In [ ]:
# Dot syntax also allows for calling an existing column
# Using .column syntax only works if the column exists already, has no spaces, and is not a dataframe method already
df.price

In [ ]:
# .dtypes outputs the datatypes of all columns in the dataframe
df.dtypes

In [ ]:
# .info returns datatype and non-null count
df.info()

In [ ]:
df.price.describe()

In [ ]:
# Show descriptive stats for numeric columns
df.describe()

In [ ]:
# A column in a dataframe is a series
type(df.quantity)

In [ ]:
# .value_counts returns a series
df.quantity.value_counts()

In [ ]:
# Aggregate functions can run on all the numeric values in the dataframe
df.mean()

In [ ]:
# Obtain the median of all numeric columns
df.median()

In [ ]:
# Standard deviation of all the numeric columns
df.std()

In [ ]:
# The square bracket syntax can be used to access column names with spaces
# Same with column names that are methods on the dataframe object
# Recommend avoiding column names with spaces, removing spaces when you encounter them
# Recommend avoiding naming columns after dataframe method
df["shape"] = ["round", "loaf", "jug", "round", "round"]
df

In [ ]:
# Remember that the .shape attribute shows # rows, #columns
df.shape

In [ ]:
# The bracket quote syntax returns the column
df["shape"]

In [ ]:
# Naming columns the same as built-in dataframe methods and spaces in column names are not helpful
# .rename allows for renaming columns in a dataframe using a dictionary
df.rename(columns={"shape": "item_shape", "total cost": "total"}, inplace=True)
df

## Exercises
- Assign dataframe named `items` out of the following list of dictionaries.
```
items = [
    {"item name": "USB cable", "price": "$10.99", "type": "USB C to USB C"},
    {"item name": "USB cable", "price": "$10.99", "type": "USB A to USB C"},
    {"item name": "Batteries", "price": "$9.99", "type": "AA"},
    {"item name": "Batteries", "price": "$8.99", "type": "AAA"},
    {"item name": "Mouse", "price": "$12.99", "type": "Wireless USB"},
]
```
- Rename the `item name` column to `item_name`
- Add a column named `units_sold` to this dataframe and assign the values `[41, 113, 54, 35, 22]`
- Use what you learned from working with strings to convert the price column into a float (hint: remove non-numeric characters before attempting to convert the data type to a float)
- Create a new column named `total_revenue` that holds the `price` column times the `units_sold` column
- Round the `total_revenue` column values to the nearest cent. (hint: search or consult the pandas documentation

In [ ]:
# Assign dataframe named `items` out of the following list of dictionaries.

In [ ]:
# Rename the item name column to item_name

In [ ]:
# Add a column named units_sold to this dataframe and assign the values [41, 113, 54, 35, 22]

In [ ]:
# Convert the price column into a float data type

In [ ]:
# Create a new column named "total_revenue" that holds the `price` column times the `units_sold` column

In [ ]:
# Round the total_revenue column values to the nearest cent.