# Intro to Pandas
by Ryan Orsinger

## Module 2: Introducing the DataFrame

### Pandas DataFrames Basics - Part 1
- How to make pandas DataFrames from other Python collections
- Learning about your dataframe
- Selecting a single column
- Adding new columns to a DataFrame
- Selecting multiple columns

In [1]:
import pandas as pd

In [2]:
# Creating an empty dataframe
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Adding columns to a dataframe
df[""]