# Intro to Pandas
by Ryan Orsinger

## Aggregating Data with Pandas Methods
- Working with crosstab to count
- Working with pivot table for other aggregate measures

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mpg.csv")
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [12]:
pd.crosstab(df.manufacturer, df.displ)

displ,1.6,1.8,1.9,2.0,2.2,2.4,2.5,2.7,2.8,3.0,...,5.3,5.4,5.6,5.7,5.9,6.0,6.1,6.2,6.5,7.0
manufacturer,,,,,,,,,,,,,,,,,,,,,
audi,0,4,0,4,0,0,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
chevrolet,0,0,0,0,0,2,0,0,0,0,...,5,0,0,4,0,1,0,2,1,1
dodge,0,0,0,0,0,1,0,0,0,1,...,0,0,0,2,2,0,0,0,0,0
ford,0,0,0,0,0,0,0,0,0,0,...,0,5,0,0,0,0,0,0,0,0
honda,5,3,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hyundai,0,0,0,4,0,4,2,3,0,0,...,0,0,0,0,0,0,0,0,0,0
jeep,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0
land rover,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
lincoln,0,0,0,0,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,0
mercury,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
nissan,0,0,0,0,0,2,2,0,0,2,...,0,0,1,0,0,0,0,0,0,0
pontiac,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
subaru,0,0,0,0,2,0,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
toyota,0,5,0,0,4,4,0,5,0,4,...,0,0,0,1,0,0,0,0,0,0
volkswagen,0,2,3,12,0,0,4,0,5,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
pd.pivot_table(index=df.cyl, columns=df.trans, data=df)

             cty                                                            \
trans   auto(av) auto(l3)   auto(l4)   auto(l5) auto(l6) auto(s4) auto(s5)
cyl
4      22.000000     21.0  20.500000  20.333333      NaN     20.0     22.0
5            NaN      NaN        NaN        NaN      NaN      NaN      NaN
6      18.666667      NaN  16.034483  15.187500     16.0      NaN     18.0
8            NaN      NaN  12.200000  12.294118     12.5     16.0     12.0

                                      ...     year                        \
trans auto(s6) manual(m5) manual(m6)  ... auto(av) auto(l3)     auto(l4)
cyl                                   ...
4         20.5  21.545455  21.000000  ...   2008.0   1999.0  2001.250000
5         20.5  20.500000        NaN  ...      NaN      NaN          NaN
6         17.4  16.666667  16.000000  ...   2008.0      NaN  2001.172414
8         13.6  13.000000  13.428571  ...      NaN      NaN  2001.400000


trans   auto(l5) auto(l6) auto(s4) auto(s5) auto(s6) manual(m5)   manual(m6)
cyl
4      2003.5000      NaN   2008.0   2008.0   2008.0     2002.0  2008.000000
5            NaN      NaN      NaN      NaN   2008.0     2008.0          NaN
6      2004.0625   2008.0      NaN   2008.0   2008.0     2000.0  2008.000000
8      2008.0000   2008.0   2008.0   2008.0   2008.0     2000.8  2006.714286

[4 rows x 40 columns]

In [3]:
# Group
df.groupby("manufacturer")